<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
       <link href="../../css/bootstrap.css" rel="stylesheet">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>
  <body>

    <!-- Navigation Bar Setup -->
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
      <div class = "container-fluid">
        <a href = "../../index.html" class = "navbar-header">
          <img src = "../../media/art/OW_logo.png" style = "max-width: 25px; margin-top: 13px" hspace = "10">
        </a>
        <div class = "navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a href = "../../index.html" class="navbar-brand" style="font-family: 'Roboto Condensed'"><i> OVERWATCHGLAM</i>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../../heroes.html" style="font-family: 'Roboto Condensed'">HEROES</a>
          <li>
            <a href="../../players.html" style="font-family: 'Roboto Condensed'">TOP PLAYERS</a>
          </li>
          <li>
            <a href="../../achievements.html" style="font-family: 'Roboto Condensed'">ACHIEVEMENTS</a>
          </li>
          <li>
            <a href="../../events.html" style="font-family: 'Roboto Condensed'">EVENTS</a>
          </li>
          <li>
            <a href="../../skins.html" style="font-family: 'Roboto Condensed'">SKINS</a>
          </li>
          <li>
            <a href="../../items.html" style="font-family: 'Roboto Condensed'">ITEMS</a>
          </li>
          <li>
            <a href="../../about.html" style="font-family: 'Roboto Condensed'">ABOUT</a>
          </li>
        </ul> 
      </div>
    </nav>
  <div class="container">
      <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
      </div>
      <div class="col">
      </div>
  </div>
  <div class = "row" >
    <br>
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Officer D.va</font></p></h1>
    <div style="text-align: center;"><img class="img-thumbnail" src="../../media/skins/dva-skin.png" alt="Wadjet Ana"> </div>
    <br>
  </div>
  <hr>

  <div class = "container-fluid">
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Info</font></p></h1>
	<p style = "font-family: 'Overwatch'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Name: </span><span sytle="color:white; font-family: 'Overwatch'">Officer D.va</font></span></p>
    <p style = "font-family: 'Overwatch'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Cost: </span><span sytle="color:white; font-family: 'Overwatch'">None</font></span></p>
    <p style = "font-family: 'Overwatch'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Quality: </span><span sytle="color:white; font-family: 'Overwatch'">Legendary</font></span></p>
    <p style = "font-family: 'Overwatch'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Available Hero: </span> <a href = "../heroes/dva.html"><span style="color:white; font-family: 'Overwatch'">D.va</a></font></span></p>
   	<p style = "font-family: 'Roboto Condensed'" class="text-warning"><font size = "5"><span style="color:orange; font-family: 'Overwatch'">Event: </span> <a href = "../events/winter_wonderland.html"><span style="color:white; font-family: 'Overwatch'">Winter Wonderland</a></font></span></p> 
 
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>