{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/bootstrap.css') }}">
    <!-- Introduction Row -->
      <h1 style = "font-family: 'Overwatch'"><p class="text-warning"><font size = "7">About Us</font></p></h1>
      <div class = "container-fluid">
      <p style="font-family: 'Open Sans'" class="text-warning"> OverwatchGlam is a center for all things Overwatch. We want to provide a centralized hub to find information about cosmetic Overwatch rewards as well as information about some of the best players in the world. </p><br><hr>
      </div>
      <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Team</font></p></h1>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnail" src="media/akhil-murthy.jpg" alt="Akhil Murthy">
          <h3 style="font-family: 'Roboto Condensed'" class="text-info">AKHIL MURTHY</h3>
          <ul>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>About me:</b><br>
              <span class="text-warning">is a Computer Science Major who is cool </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Responsibilities:</b><br>
              <span class="text-warning">Technical Report, Front End, Team Leader, Deployment. </span></p></a>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of commits:</b><br>
              <span class="text-warning"> 3</span></p></a>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of issues:</b><br>
              <span class="text-warning">15 </span></p></a>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of unit tests:</b><br>
              <span class="text-warning">0 </span></p></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnail" src="media/allen-zhang.jpg" alt="Allen Zhang">
          <h3 style="font-family: 'Roboto Condensed'" class="text-info">ALLEN ZHANG</h3>
         <ul>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>About me:</b><br>
              <span class="text-warning">Bio: Is a Computer Science Major who is cooler. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Responsibilities:</b><br>
              <span class="text-warning">Lap Report, Apiary. </span></p>
            </li>
            <li>
             <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of commits:</b><br>
              <span class="text-warning">0. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of issues:</b><br>
              <span class="text-warning">15. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of unit tests:</b><br>
              <span class="text-warning">0. </span></p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnail" src="media/cait-green.jpg" alt="Caitlin Green">
          <h3 style="font-family: 'Roboto Condensed'" class="text-info">CAITLIN GREEN</h3>
          <ul>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>About me:</b><br>
              <span class="text-warning">I'm a third year Computer Science major minoring in Classical Civilizations. I like my cats, gardening, and playing videogames. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Responsibilities:</b><br>
              <span class="text-warning">Front End, Auxiliary Tools (Trello, Slack), Technical Report</span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of commits:</b><br>
              <span class="text-warning">24</span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of issues:</b><br>
              <span class="text-warning">15. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of unit tests:</b><br>
              <span class="text-warning">0. </span></p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnail" src="media/peter-thai.jpg" alt="Peter Thai">
          <h3 style="font-family: 'Roboto Condensed'" class="text-info">PETER THAI</h3>
          <ul>
           <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>About me:</b><br>
              <span class="text-warning"> is a Computer Science Major who has trouble making their commits show on github must be a bug. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Responsibilities:</b><br>
              <span class="text-warning">Front End Page Templates, API mapping. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of commits:</b><br>
              <span class="text-warning">13. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of issues:</b><br>
              <span class="text-warning">15. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of unit tests:</b><br>
              <span class="text-warning">0. </span></p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnail" src="media/sangwon-lee.jpg" alt="SangWon Lee">
          <h3 style="font-family: 'Roboto Condensed'" class="text-info">SANGWON LEE</h3>
          <ul>
           <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>About me:</b><br>
              <span class="text-warning">I'm a senior year Computer Science major. I like playing soccer, listening music and playing games. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Responsibilities:</b><br>
              <span class="text-warning">Front End Pages. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of commits:</b><br>
              <span class="text-warning">23. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of issues:</b><br>
              <span class="text-warning">15. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>No. of unit tests:</b><br>
              <span class="text-warning">0. </span></p><br>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr>   
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Stats</font></p></h1>
        <div>
          <ul>
           <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Total No. of Commits:</b><br>
              <span class="text-warning">101. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Total No. of Issues:</b><br>
              <span class="text-warning">75. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Total No. of Unit Tests:</b><br>
              <span class="text-warning">0. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Apiary API</b><br>
              <a class="text-warning" href = "http://docs.akhilmurthy.apiary.io/#">Click Here. </a></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Github Repo</b><br>
              <a class="text-warning" href = "https://github.com/akhilmurthy/IDB">Click Here. </a></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Trello</b><br>
              <a class="text-warning" href = "https://trello.com/b/vWS53Bjc/project2">Click Here. </p></a>
            </li>
          </ul>
        </div>

    <hr>
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Data</font></p></h1>
        <div>
          <ul>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Overwatch Game Data Source</b><br>
              <a class="text-warning" href = "https://overwatch-api.net/">Click Here. </p></a>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Description: </b><br>
              <span class="text-warning">Not yet scraped. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Overwatch Players Data Source</b><br>
              <a class="text-warning" href = "https://github.com/SunDwarf/OWAPI/blob/master/api.md">Click Here. </p></a>
            </li>
           <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Description: </b><br>
              <span class="text-warning">Not yet scraped. </span></p>
            </li>
          </ul>
        </div>

    <hr>
    <h1 style = "font-family: 'Overwatch'"><p class="text-info"><font size = "7">Tools</font></p></h1>

        <div>
          <ul>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Apiary </b><br>
              <span class="text-warning"> to document our API and communicate back end to front end. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Bootstrap </b><br>
              <span class="text-warning"> to set up the HTML for the website. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Github </b><br>
              <span class="text-warning"> to merge and sync everyone's code. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>PlanITPoker </b><br>
              <span class="text-warning"> to plan length of time that tasks will take.</span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Slack </b><br>
              <span class="text-warning"> to send links and documents, and communicate as a group. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Trello </b><br>
              <span class="text-warning"> to plan and coordinate tasks and issues. </span></p>
            </li>
            <li>
              <p style="font-family: 'Open Sans'" class = "text-primary"><b>Report: </b><br>
              <a class="text-warning" href = "https://utexas.box.com/s/ze8moowndoff4hk9zk6oowhikgws2hii">Click Here.</p></a>
            </li>
          </ul>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% endblock %}
