{% extends "layout.html" %}

{% block content %}
    <span class="border-bottom-0"></span>

    <!-- Event title page -->
      <h1 style = "font-family: 'Overwatch'"><p class="text-warning"><font size = "7">Events</font></p></h1><br><hr>

      <!-- Event Grid -->
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href = "subpages/events/summer_games.html">
          <img class="img-thumbnail" src="media/events/summer-games2.jpg" alt="Summer Games" width="80%" height="80%">
          <h3 style="font-family: 'Overwatch'" class="text-warning">Summer Games</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href = "subpages/events/halloween_terror.html">
          <img class="img-thumbnail" src="media/events/halloween-terror.jpg" alt="Halloween Terror" width="80%" height="80%">
          <h3 style="font-family: 'Overwatch'" class="text-warning">Halloween Terror
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href = "subpages/events/winter_wonderland.html">
          <img class="img-thumbnail" src="media/events/winter-wonderland.jpg" alt="Winter Wonderland" width="80%6" height="80%">
          <h3 style="font-family: 'Overwatch'" class="text-warning">Winter Wonderland</h3>
        </div>
      </div>
    </div>    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% endblock %}
